*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  column-fill: balance;
  font-family: IRANSansMobile-fa
}
body{
  direction: rtl;
  font-family: IRANSansMobile-fa,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
}
#section1{
  margin-bottom: 40px;
  flex: 1 ;
  right: 0;
  left: 0;
  top: 0;
  color: #fff;
}