@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Kosugi+Maru&family=Lilita+One&family=Lobster+Two:ital,wght@1,700&family=Murecho&family=Outfit:wght@200&display=swap');
.snapplogo{
  position: absolute;
  right: 0;
}

#navlink{
  position: absolute;
  right: 75px;
}
#headcar{
  background-image: url('https://web-cdn.snapp.ir/snapp-website/images/homepage/intro_mobile.jpg');
}
body{
  direction: rtl;
  font-family: Jomhuria;
}